---
import '../styles/global.css';
import Navigation from "../components/navigation.astro"
import MainLayout from '../layouts/main_layout.astro';
import Footer from '../components/footer.astro';
---

<MainLayout title="About">
    </MainLayout>
<Navigation>
    </Navigation>

<div class="bg-neutral-100 text-gray-900 font-sans dark:bg-gray-800 dark:text-neutral-100">
    <section class="bg-gradient-to-r from-slate-800 via-cyan-700 to-cyan-950 text-slate-100 min-h-px1">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-slate-100 text-4xl md:text-6xl font-bold mb-4 justify-center mx-auto py-20">About Me</h1>
        </div>
    </section>

    <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 min-h-screen">
        <h2 class="text-3xl font-bold mb-6 text-center">Who Am I</h2>
        <article class="dir-rtl">
            <p class="text-lg mb-4 whitespace-pre-line">
            My name is Caleb, I'm 23 years old, and I live in Australia. I'm currently pursuing my Masters of Cyber Security and Network Administration at Charles Sturt University.

            My passion for technology and problem-solving has led me to a career in managed services, with a focus on Enterprise Mobility Management. I spend my days troubleshooting issues and ensuring smooth operations for end users, working with tools like Microsoft Intune and various other mobile device management solutions.

            I'm actively expanding my skills in development, with experience in Python, JavaScript, and HTML. This website, built with Astro and Tailwind CSS, is one of my first major projects and a testament to my commitment to learning and growing in the field. I'm always looking for new challenges and opportunities to learn, and I'm excited to see where my development journey takes me.
            </p>
            </article>
    </section>
</div>

<Footer>
    </Footer>
