---
import MainLayout from '../layouts/main_layout.astro';
import Footer from '../components/footer.astro';
import Navigation from '../components/navigation.astro';
---
<MainLayout title="Blog">
    </MainLayout>

<Navigation>
</Navigation>

<p>Blog Test</p>



<Footer></Footer>
