---
import Navigation from '../components/navigation.astro';
import ProjectCard from '../components/ProjectCard.astro';
import '../styles/global.css';
---

<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<favicon href="../public/favicon.png" />
	<title>Caleb Terawskyj - Home</title>
</head>
<body class="bg-neutral-100 text-gray-900 font-sans"></body>
<Navigation / >
</Navigation>

<!--- Hero Section -->
<section class="bg-gradient-to-r from-emerald-800 via-cyan-700 to-cyan-950 text-slate-100 py-20 min-h-screen">
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
<!--- Alert Advising that website is a work in progress - To be removed at a later date -->
	<div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
  <div class="flex">
    <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
    <div>
      <p class="font-bold">Hello! Thank you for visiting my website</p>
      <p class="text-sm">Just letting you know that this is an active work in progress. Things are not complete, and there is plenty for me to learn and add</p>
	  <p class="text-sm">Just like this alert. This is something new I learnt. Nifty, isn't it? Anyway, please check back later for updates, and feel free to reach out if you have any questions or suggestions!</p>
    </div>
  </div>
</div>
<!--- End Alert Advising that website is a work in progress - To be removed at a later date -->
<div class="text-center">
	<h1 class="text-slate-100 text-4xl md:text-6xl font-bold mb-4 justify-center mx-auto pt-40">Hello👋</h1>
	<p class="text-slate-100 text-lg md:text-2xl mb-8">I'm Caleb Terawskyj, Technical hobbyist, Support Analyst, and creative problem solver.</p>
	<p class="text-slate-100 text-lg md:text-2xl mb-8 leading-0 pb-20">I build cool things with servers, code, and caffeine.</p>
	<button class="bg-cyan-900 text-slate-100 px-6 py-3 rounded-full font-semibold hover:bg-cyan-700 transition duration-300 mx-auto">
		<a href="#projects">View Projects</a>
</section>
<!--- Projects -->
<section id="projects" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
	<h2 class="text-3xl font-bold mb-6 text-center">Projects</h2>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
		<ProjectCard title="Project 1" description="Description of project 1" link="/projects/project1" />
		<ProjectCard title="Project 2" description="Description of project 2" link="/projects/project2" />
		<ProjectCard title="Project 3" description="Description of project 3" link="/projects/project3" />
	</div>
</section>
</body>
