---
import Navigation from '../components/navigation.astro';
import ProjectCard from '../components/ProjectCard.astro';
import '../styles/global.css';
---

<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <favicon href="../public/favicon.png" />
	<title>Caleb Terawskyj</title>
</head>
<body class="bg-neutral-100 text-gray-900 font-sans"></body>
<Navigation / >
</Navigation>

<p class="mb-6">Hello👋, my name is Caleb. Technical hobbyist, Support Analyst, and creative problem solver.<br />I build cool things with servers, code, and caffeine.</p>
</body>
