---
import Navigation from '../components/navigation.astro';
import ProjectCard from '../components/ProjectCard.astro';
import StatsCard from '../components/StatsCard.astro';
import Footer from '../components/footer.astro';
import MainLayout from '../layouts/main_layout.astro';
import SkillsCard from '../components/SkillsCard.astro';
import SkillsCardV2 from "../components/SkillsCardV2.astro";
import '../styles/global.css';

import calebImage from '../assets/img/caleb_terawskyj.jpg';
---

<MainLayout title="Home">
<Navigation />
	<div class="bg-neutral-100 text-gray-900 font-sans dark:bg-gray-800 dark:text-neutral-100">
    <!--- Hero Section -->
	<section class="relative bg-gradient-to-r from-slate-900 via-cyan-800 to-cyan-950 text-slate-100 py-20 min-h-screen overflow-hidden">
		<div class="absolute inset-0 z-0 opacity-50" style="background: radial-gradient(circle at center, rgba(59, 130, 246, 0.2), transparent 70%);"></div>
    	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
        <h1 class="text-4xl md:text-6xl font-bold mb-4 pt-40">
			HELLO👋 I'M <span class="text-cyan-200">CALEB TERAWSKYJ</span>
        </h1>
        <p class="text-lg md:text-2xl mb-8">
			<span id="typed-text"></span><span id="cursor" class="blink">█</span>
        </p>
    </div>
    </section>
    <!--- About Me Section -->
    <section id="about" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 flex flex-col md:flex-row items-center gap-8">
		<div class="md:w-1/3">
			<img src={calebImage.src} alt="Caleb Terawskyj" class="rounded-full shadow-lg w-full max-w-sm mx-auto transition-transform duration-300 hover:scale-105" />
		</div>
	<div class="md:w-2/3">
        <h2 class="text-3xl font-bold mb-4">About Me</h2>
        <p class="mb-4 whitespace-pre-line">
		I'm a passionate nerd with a keen interest in solving problems through technology. My journey has led me to explore various fields, including software development, system administration, and creative problem-solving.<br/>
        I am new to the world of development. Currently working in the managed services field; I spend more time troubleshooting issues and making sure things run smoothly for end users. But! I am eager to continue to learn new skills in my development journey and hope to share them progressively on this website.<br/>
        This website serves as a platform to showcase my projects, share my thoughts, and connect with like-minded individuals. I believe in the power of collaboration and knowledge sharing, and I hope to contribute to the tech community through this space.<br/>
        Feel free to explore my projects, read my blog posts, and reach out if you have any questions or suggestions. I'm always open to learning new things and collaborating with others.
        </p>
    </div>
    </section>

    <!--- Skills Section -->
    <section id="skills" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 text-center">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-bold mb-10 text-center">My Skills</h2>
            <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-8">
                <SkillsCardV2 title="Python" icon="python" />
                <SkillsCardV2 title="React" icon="react" />
                <SkillsCardV2 title="Astro" icon="astro" />
                <SkillsCardV2 title="Docker" icon="docker" />
                <SkillsCardV2 title="Node.js" icon="node" />
                <SkillsCardV2 title="Tailwind CSS" icon="tailwind" />
            </div>
        </div>
    </section>

    <!--- Stats Section -->
    <section id="stats" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 text-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <StatsCard title="Projects Built" value={3} />
        <StatsCard title="Coffees Drank" value="∞" />
        <StatsCard title="Years in IT" value={4} />
    </div>
    </section>

    <!--- Projects -->
    <section id="projects" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
		<h2 class="text-3xl font-bold mb-6 text-center">Projects</h2>
		<p class="text-lg text-gray-700 mb-8 text-center dark:text-neutral-100">I'm still very new to development, but I thought it should be good to at least have a small projects area. I'm sure this will grow as time goes.</p>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <ProjectCard title="Astro Web Development" description="You're looking at it!" link="/projects/astro_dev" tech={["astro", "tailwind"]} />
        <ProjectCard title="Personal Management System" description="A central hub to manage my day-to-day items like notes, tasks, calendar, planner etc." link="/projects/pm_sys" tech={["tailwind", "react"]} />
        <ProjectCard title="Basic Python Scripts" description="A few scripts to automate things in my life." link="/projects/project3" tech={["python"]} />
    </div>
    </section>

    <Footer />

    <script src="./js/counter.js" defer></script>
    <script src="./js/hero_cursor.js" defer></script>
	</div>
</MainLayout>

