---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Caleb Terawskyj</h1>
		<h2>Technical hobbyist, Support Analyst, and creative problem solver.</h2>
		<p>I build cool things with servers, code, and caffeine.</p>
	</body>
</html>
