---
import '../styles/global.css';
import Navigation from "../components/navigation.astro"
import MainLayout from '../layouts/main_layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Footer from '../components/footer.astro';
---

<MainLayout title="Projects">
    </MainLayout>
<Navigation>
    </Navigation>
<div class="bg-neutral-100 text-gray-900 font-sans dark:bg-gray-800 dark:text-neutral-100">
    <div class="bg-neutral-100 text-gray-900 font-sans dark:bg-gray-800 dark:text-neutral-100">
        <section class="bg-gradient-to-r from-slate-800 via-cyan-700 to-cyan-950 text-slate-100 min-h-px1">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <h1 class="text-slate-100 text-4xl md:text-6xl font-bold mb-4 justify-center mx-auto py-20">Projects</h1>
            </div>
        </section>
<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 min-h-screen">
    <h2 class="text-3xl font-bold mb-6 text-center">My Projects</h2>
    <p class="text-lg text-gray-700 mb-8 text-center dark:text-neutral-100">Here are some of the projects I've worked on. I'm still new to development, but I hope to continue to grow this section as I learn more.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <ProjectCard title="Astro Web Development" description="This website is built using Astro and Tailwind CSS. It's a work in progress, showcasing my journey in web development." link="/" tech={['astro', 'tailwind']} />
    </div>
</div>

<Footer>
    </Footer>