---
import Navigation from '../components/navigation.astro';
import ProjectCard from '../components/ProjectCard.astro';
import StatsCard from '../components/StatsCard.astro';
import Footer from '../components/footer.astro';
import MainLayout from '../layouts/main_layout.astro';
import SkillsCard from '../components/SkillsCard.astro';
import HeaderBanner from '../components/HeaderBanner.astro';
import '../styles/global.css';
---

<MainLayout title="Resume" />
<Navigation />
<HeaderBanner title="Resume" />
<div class="bg-neutral-100 text-gray-900 font-sans dark:bg-gray-800 dark:text-neutral-100 min-h-screen">
    <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <h2 class="text-3xl font-bold mb-6 text-left">Caleb Terawskyj</h2>
        <h3 class="text-xl font-semibold mb-4 text-left">Technical Solutions Senior Analyst</h3>
        <p class="text-lg mb-4 whitespace-pre-line">
        I'm a passionate Technical Support Expert that strives on bridging the gap between customer needs and business success. With a proven track record spanning leadership, sales, and technical support, I thrive on delivering exceptional service that leaves a lasting impact.
        </p>
    <h2 class="text-2xl font-semibold text-cyan-900 dark:text-cyan-200 mb-2 text-center">Skills</h2>
        <div class="flex flex-wrap justify-center gap-2">
            <span class="bg-neutral-200 text-cyan-900 dark:bg-gray-700 dark:text-cyan-200 px-3 py-1 rounded-full text-sm font-medium">Customer Service</span>
            <span class="bg-neutral-200 text-cyan-900 dark:bg-gray-700 dark:text-cyan-200 px-3 py-1 rounded-full text-sm font-medium">Technical Support</span>
            <span class="bg-neutral-200 text-cyan-900 dark:bg-gray-700 dark:text-cyan-200 px-3 py-1 rounded-full text-sm font-medium">Problem Solving</span>
            <span class="bg-neutral-200 text-cyan-900 dark:bg-gray-700 dark:text-cyan-200 px-3 py-1 rounded-full text-sm font-medium">Communication</span>
            <span class="bg-neutral-200 text-cyan-900 dark:bg-gray-700 dark:text-cyan-200 px-3 py-1 rounded-full text-sm font-medium">Team Leadership</span>
            <span class="bg-neutral-200 text-cyan-900 dark:bg-gray-700 dark:text-cyan-200 px-3 py-1 rounded-full text-sm font-medium">Mobile Device Management</span>
            <span class="bg-neutral-200 text-cyan-900 dark:bg-gray-700 dark:text-cyan-200 px-3 py-1 rounded-full text-sm font-medium">Microsoft Intune</span>
            <span class="bg-neutral-200 text-cyan-900 dark:bg-gray-700 dark:text-cyan-200 px-3 py-1 rounded-full text-sm font-medium">Omnissa Workspace One (Formally VMWare)</span>
            <span class="bg-neutral-200 text-cyan-900 dark:bg-gray-700 dark:text-cyan-200 px-3 py-1 rounded-full text-sm font-medium">Ivantu Neurons & EPMM</span>
            <span class="bg-neutral-200 text-cyan-900 dark:bg-gray-700 dark:text-cyan-200 px-3 py-1 rounded-full text-sm font-medium">ServiceNow</span>
        </div>
    <h2 class="text-2xl font-semibold text-cyan-900 dark:text-cyan-200 mb-2 text-center mt-8">Experience</h2>
    <div class="space-y-4">
        <div class="bg-white dark:bg-gray-700 shadow-md rounded-lg p-6">
            <h3 class="text-xl font-semibold mb-2">Technical Solutions Senior Analyst</h3>
            <p class="text-gray-600 dark:text-neutral-100 mb-2">Telstra</p>
            <p class="text-gray-700 dark:text-neutral-100 mb-4">September 2025 - Present</p>
            <ul class="list-disc pl-5 space-y-2">
                <li>Senior Analyst on the Telstra Enterprise Mobility Managed Services (EMMS) Service Desk</li>
            </ul>
        </div>
    </div>
    <br/>
    <div class="space-y-4">
        <div class="bg-white dark:bg-gray-700 shadow-md rounded-lg p-6">
            <h3 class="text-xl font-semibold mb-2">Technical Support Service Desk Analyst</h3>
            <p class="text-gray-600 dark:text-neutral-100 mb-2">Telstra</p>
            <p class="text-gray-700 dark:text-neutral-100 mb-4">October 2022 - September 2025</p>
            <ul class="list-disc pl-5 space-y-2">
                <li>Enterprise Mobility Management for a range of Telstra Enterprise clients</li>
                <li>Provided technical support to end-users, resolving issues related to hardware, software, and network connectivity.</li>
                <li>Collaborated with cross-functional teams to ensure timely resolution of technical issues.</li>
                <li>Maintained documentation of support requests and resolutions across multiple ServiceNow Systems.</li>
                <li>Operated as SME for multiple customer projects</li>
            </ul>
        </div>
    </div>
</section>
</div>

<Footer />