---
import '../styles/global.css';
---
    <footer class="bg-gray-800 text-white py-4">
  <div class="container mx-auto text-center">
    <p class="text-sm pb-2">© {new Date().getFullYear()} Caleb Terawskyj. All rights reserved.</p>
    <footer class="text-sm mt-2">
      <a href="https://www.linkedin.com/in/caleb-terawskyj/" class="text-blue-300 hover:underline">LinkedIn</a>
      <img src="https://media.licdn.com/dms/image/v2/D5603AQF9CbAH8_pFTQ/profile-displayphoto-shrink_400_400/B56Zb72auiHoAk-/0/1747982069425?e=1756339200&v=beta&t=XXDI0cffdK9z8Eu__4u8_phNSKDECIMF9cPVyOJof9I" alt="LinkedIn" class="inline-block w-10 h-10 ml-2 rounded-full" />
</footer>