---
import '../styles/global.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<section class="bg-gradient-to-r from-slate-800 via-cyan-700 to-cyan-950 text-slate-100 min-h-px1">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-slate-100 text-4xl md:text-6xl font-bold justify-center mx-auto py-20">{title}</h1>
    </div>
</section>