---
import '../styles/global.css';
---
<nav class="bg-neutral-100 shadow-md">
<div class="max-w-9xl mx-auto px-4 sm:px-6 lg:px-8">
<div class="flex items-center justify-between h-16">
    <div class="flex items-center">
        <a href="/" >
            <img class="h-12 w-auto pr-3" src="./circuit_c_logo.png " alt="Circuit C Logo" />
        </a>
    </div>
    <div class="hidden md:block">
    <div class="ml-10 flex space-x-4">
        <ul>
            <a href="/" class="text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium">Home</a>
            <a href="/about" class="text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium">About</a>
            <a href="/projects" class="text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium">Projects</a>
            <a href="/blog" class="text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium">Blog</a>
            <a href="/contact" class="text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium">Contact</a>
            <a href="/cv" class="text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md text-sm font-medium">Resume</a>
        </ul>
    </div>

