---
import '../styles/global.css';
---
<nav class="bg-neutral-100 shadow-md">
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
<div class="flex items-center justify-between h-16">
    <div class="flex items-center">
        <a href="/" class="text-xl font-bold text-gray-900">Caleb Terawskyj</a>
    </div>
    <div class="hidden md:block">
    <div class="ml-10 flex space-x-4">
        <button class="font-semibold bg-cyan-900 text-slate-100 px-4 py-2 rounded-full hover:bg-cyan-700">
            <a href="/">Home</a>
        </button>
        <button class="font-semibold bg-cyan-900 text-slate-100 px-4 py-2 rounded-full hover:bg-cyan-700">
            <a href="/blog">Blog</a>
        </button>
        <button class="font-semibold bg-cyan-900 text-slate-100 px-4 py-2 rounded-full hover:bg-cyan-700">
            <a href="/projects">Projects</a>
        </button>
        <button class="font-semibold bg-cyan-900 text-slate-100 px-4 py-2 rounded-full hover:bg-cyan-700">
            <a href="/about">About</a>
        </button>
        <button class="font-semibold bg-cyan-900 text-slate-100 px-4 py-2 rounded-full hover:bg-cyan-700">
            <a href="../contact">Contact</a>
        </button>
    </div>

